body {
	font-family: Verdana;
	font-size: 11px;
}

#frame {
	background-color: #CC8822;
	width: 450px;
}

#movie {
	background-color: #FFFFCC;
	padding: 10px;
}

#cover {
	float: left;
	margin-right: 10px;
}

#infos {
	float: left;
	width: 300px;
}

.label {
	margin-top: 8px;
	margin-bottom: 3px;
	font-weight: bold;
	clear: left;
}

#title {
	font-size: 12px;
	font-weight: bold;
}

.titleExpanded {
	margin-bottom: 8px;
}

#title img {
	margin-bottom: -2px;
}

a, a:active, a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#actors a, #directors a, #creators a {
	background-image: url('link_icon.png');
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 10px;
}

#rating, #ratingbar {
	float: left;
	margin-bottom: 8px;
}

#ratingbar {
	width: 150px;
	height: 8px;
	margin-top: 1px;
	margin-right: 5px;
}

#logo {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.clear {
	clear: both;
}

#actions {
	position: absolute;
	top: 10px;
	right: 10px;
}

#actions img {
	cursor: pointer;
}